/* ===== General settings ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
:root {
    --main-color: #2963A3;
    --primary-color: #03B2A5;
    --secondary-color: #16C8BB;
    --bg-white: #FFFFFF;
    --bg-secondary: #35B3A9;
    --bg-button: #E3F5F5;
    --text-primary: #333333;
    --text-grey: rgba(51, 51, 51, 0.7);
}
body {
    line-height: 1.6;
    color: var(--text-primary);
    background-color: var(--bg-white);
}
.container {
    max-width: 1200px;
    margin: 0 auto 1rem auto;
}

/* ===== Navigation ===== */

.header {
    background-color: var(--bg-white);
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
    width: 100%;
    transition-duration: 0.4s;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
}
.youtalk-logo {
    width: 50px;
    height: auto;
}
.nav__menu {
    display: flex;
    gap: 1.875rem;
    margin-left: 0.5rem;
    margin-right: 10rem;
}
.nav__link {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    transition: 0.125s ease-in-out;
    cursor: pointer;
}
.nav__link:hover {
    color: var(--primary-color);
}
.menu__btn {
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color);
    background-color: var(--bg-button);
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
}
.menu__btn:hover {
    color: white;
    background-color: var(--bg-secondary);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* ===== Main ===== */
main {
    margin-top: 2rem;
}
.address {
    display: flex;
    justify-content: start;
    gap: 5px;
}
.address__loc {
    color: var(--text-grey);
    font-size: 0.8rem;
    margin: 0 0.3rem;
    cursor: default;
}
.address__arrow {
    margin-top: 0.3rem;
}
.main__title {
    display: inline-block;
    text-align: left;
    font-size: 4rem;
    font-weight: 700;
    cursor: default;
}

/* ===== Filter Section ===== */
.filter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}
.filter__tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border:2px solid #C1C5CD;
    border-radius: 24px;
    padding: 4px 8px;
    cursor: pointer;
    user-select: none;
}
.filter__tag-active {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border: 2px solid var(--secondary-color);
    border-radius: 24px;
    padding: 4px 8px;
    cursor: pointer;
    user-select: none;
}
.filter__tag:hover {
    border: 2px solid var(--secondary-color);
}
.filter__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}
.filter__icon {
    margin-top: 6px;
    width: 18px;
    height: 18px;
}

/* ===== Blog Grid ===== */
.blog {    
    margin-top: 1.5rem;
}
.blog__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    gap: 24px;
}
.card {
    background-color: var(--bg-white);
    position: relative;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    overflow: hidden;
    min-height: 475px;
}
.card-large {
    grid-column: span 3;
    background-color: var(--bg-white);
    min-height: 500px;
}
.card-small {
    grid-column: span 2;
}
.card__tags {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.card__tag {
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;
    padding: 6px 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    cursor: default;
    user-select: none;
    min-height: 32px;
    width: auto;
    max-width: 261px;
}
.card__tag-text {
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    flex-grow: 1;
}
.card__text {
    margin: 1rem 1rem;
    gap: 8px;
}
.card__title {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.625rem;
    color: var(--text-primary);
}
.card__author {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: var(--text-grey);
}
.card__summary {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--text-primary);
    margin-top: 4px;

}
.card__date {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: var(--text-grey);
}

/* ===== Expanding ===== */
.expanding {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.5rem;
}
.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
}
.pagination li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    border: none;
    color: var(--text-primary);
    margin: 0 4px;
}
.pagination li a.beginning {
    color: #C4C4C4;
    margin-right: 24px;
}
.pagination li a.active {
    background-color: var(--bg-button);
    border: 1px solid var(--primary-color);
}
.pagination li:hover {
    color: white;
    background-color: var(--bg-button);
    border: 1px solid var(--primary-color);
}
.pages__btn {
    display: flex;
    justify-content: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: white;
    background-color: var(--bg-secondary);
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    width: 182px;
    height: 48px;
    cursor: pointer;
}
.pages__btn:hover {
    color: white;
    background-color: rgb(3, 160, 148);
    border: 2px solid rgb(3, 160, 148);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* ===== Footer ===== */
.footer {
    background-color: var(--main-color);
    color: white;
    margin-top: 6rem;
    padding: 2rem 0;
}
.frame {
    max-width: 1200px;
    margin: 0.5rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 5.75rem;
}
.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.75rem;
}
.footer__navcol {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.footer__navlink {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: white;
    text-decoration: none;
    min-width: 7rem;
}
.subscribe-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}
.footer__wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    width: 384px;
}
.subscribe-form__desc {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.625rem;
    color: white;
}
.footer__subscrib {
    display: block;
    position: relative;
    box-sizing: border-box;
}
.formfield__input {
    display: block;
    width: 100%;
    padding: 14px 16px;
    padding-right: 80px;
    height: 48px;
    border: 1px solid #9d9d9d;
    border-radius: 4px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: .25px;
    color: #333;
    background-color: #fff;
}
.formfield__input:hover {
    border-color: #03b2a5;
}
.subscrib__submit {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 48px;
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    padding: 14px 22px;
    overflow: hidden;
    cursor: pointer;
}
.subscrib__submit:hover {
    color: white;
    background-color: var(--main-color);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.subscribe-form__desc2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.75rem;
    line-height: 1.125rem;
}
.footer__socials {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 16px;
    width: 100%;
}
.sk-logo {
    display: flex;
    justify-items: start;
    align-items: center;
    gap: 0.5rem;
}
.footer__frame_contact-info_social-links_cont {
    margin-right: 45px;
}
.socials__soc-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 16px;
}
.soc-list__item {
    display: block;
    height: 32px;
    width: 32px;
}

.footer__line {
    border: 1px solid white;
    max-width: 1200px;
    margin: 1.5rem auto;
}
.footer__underline {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
}
.underline__items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}
.underline_item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/* ===== Responsive Design ===== */
@media (max-width: 1024px) {
    
}